{% extends "blog.html.j2" %}

{% block header_img
%}https://lds-img.finalfantasyxiv.com/accimg/7e/b8/7eb82270f53d45c10ccea981937cbf03eb281fd6.jpg{%
endblock header_img %}

{% block article_name %}
So you wanna catch all them fish?
{% endblock article_name %}

{% block article_content %}
<p>
    Great! I do too. Fishing itself can be really simple on the surface, but when you really dive in and try to complete
    the
    fishing log you will quickly realize that the process is really slow and in some ways unintuitive even with all of
    the
    fishing tools that you'll see regularly linked. I will also be linking to these tools as needed but hopefully you
    will
    come out of reading this with some sense of direction and anything not covered here will be easy to research due to
    the
    headstart this gives you. This post is going to focus on clearing the fishing log in the overworld.

    So to begin, what do we get out of completing the fishing log?
    I want to be upfront. The answer is maybe not as great as other crafters and gatherers. There are several fish that
    are
    used as turnins for various quests, as well as some fish that are great for marketboard sales or recipes in
    crafting.
    During the writing of this, Jhinga Biryani on the market board is worth around 3200 to 3300 per unit on the
    marketboard
    depending on your server. This is because its currently the best food for crafters. The primary ingredient is a
    catchable fish Jhinga, which in of itself is worth 1500 to 2000 per unit. Ok so fishing can be worth it as an
    investment, but in reality that is just one fish of over 100. The vast majority of the fish in this game actually
    have
    no real purpose. They aren't turn ins for any quest. They are not used as ingredients in any recipe. In these cases,
    fish can be used for 2 things, selling to npcs for a few gil, or desynthesis. If you want to fish purely for
    finances,
    you should go do that and come back to this later. There is no requirement to catch any number of fish to get the
    rarer
    ones. As long as you have the levels, gear, and required books, you will be able to catch any fish in the game.

    Desynthesis of fish (which requires culinarian to be unlocked) gives 2 or more basic rewards. A piece of fine sand
    which
    has no use other than being sold to npcs for 1 gil, and a water synthesis material. Most fish are at their base 1
    gil to
    sell, so if your plan is to sell to npcs you aren't losing any value by attempting to get something. The type of
    water
    crystal you get is dependent on the size of the fish, and can be a useful way to get shards and crystals quickly. On
    top
    of those two basic rewards, some fish will have a chance of dropping Allagan coin pieces with worth ranging from 25
    gil
    to 5000 gil. Its basically a no lose casino where you spend a few seconds betting for a few hundred gil at a time.
    (Sounds familiar I am sure to any regulars at the Gold Saucer). Even with this though, I find that attempting to
    finish
    the fishing log has been overall gil negative. Teleporting around to be at the right place for fishing windows
    ultimately eats up any profits I make from this method. I think personally that desynthesis of fish is going to be
    more
    worth it because of the rare achievements for Desynthesis. You get Break It Down: I, II, III, IV, and V at 50, 200,
    500,
    1000, and 2000 items desynthed. At 5000 you get "You're Tearing Me Apart I" which comes with the title "The
    Disassembler". If you want these, working partly on the fishing log is a great way of burning through these
    achievements. It is worth noting there are some rare wearables like "Summer Sandals" that are gathered by desynthing
    fish and those can be cool, but usually you will spend far more than the 100k gil on the marketboard just levelling
    and
    getting the fish required to attempt desynth. It is rewarding to complete, but by no means a reason to fish if you
    are
    otherwise uninterested.

    There are also other achievements that give out titles such as "Meadowcaster", "Of the Irresistable Lure", and "Lord
    of
    Far Waters" all of which I think personally are really great! The vast majority of those are under the Fisher
    section
    and will naturally be completed while clearing the fishing log. You could brute force all of these because they
    usually
    just require casting a certain number of times, but to me that would be quite boring.

    Ok so its not a good way to make money, it takes a lot of time and patience, and there isn't really battle mechanics
    or
    social aspects of it. It sounds pretty antithetical to the point of doing anything in this game right? Well to me
    fishing offers something that I don't really get out of the other jobs, gatherers, or general questing.

    When you fish, you get a real sense of world travel out of this game that you don't find elsewhere. Often times,
    side
    quests are presented to force you to go to an area, so someone can give you a little exposition, and you can say
    "hey I
    learned something about this area" which is of course true because you definitely aren't spam clicking through all
    of
    the dialogue. (Pop Quiz, What sort of bread do the hunters of Tailfeather make with their chocobo stew?) Unlike
    other
    quests that require you to simply go to a small dot on the map where you interact with a glowing dot, and hear a bit
    of
    dialogue, you simply visit an area that is not well marked, and you physically have to search for where you are able
    to
    cast your rod. You get to really inspect your surroundings, see the local wildlife and residents, and see the names
    of
    the spots you visit very clearly.

    While going through the MSQ, I remember really being annoyed by Azys Lla. I really just wanted to get through it,
    and it
    was difficult for me to recognize anything other than the dull Allagan technology that wasn't really interesting to
    me
    or my eye. Even when going to this area to fish felt like I really needed to just rip a band aid off. While actually
    fishing though, I found a location called The Pappus Tree. It is on a particular island that I visisted during MSQ,
    but
    other than it being close to somewhere I was required to be, it wasn't really important. Even after clearing all
    side
    quests here, I can say there is no actual reason to be here. That said, while searching for the fishing hole, I
    finally
    got to see the textures of the tree roots fusing with the crystals in the land. I saw some of the unique flowers
    here in
    this spot and started to wonder what this place was like before the Allagans got here. I felt so curious about how
    this
    place even got its name. It feels like a part of the lore that was just lost, and only through our exploration of
    the
    world through these named nodes, we get a little closer to the world.

    OK so you are convinced that you should fish. Now what?
    Well I would say that first you should get to max level which currently is 90. This includes doing all of the fisher
    quests and if you want, all of the special delivery quest lines which all have their own rewards, minions, and
    reasons
    for doing them. The best way to level is ocean fishing, and there are many guides on how to ocean fish and its quite
    different from regular fishing so I will leave the levelling process up to you. As a quick high level overview, just
    be
    sure to buy some Survival manuals, eat any food while you fish, and keep your gear up to date as you go.

    Next is gearing!
    For the vast majority of fish, you can catch them easily with just the max level scrip gear. Again, this isn't going
    to
    be focused too much on how to work with the economy, but in general you can get gatherer's scrips with custom
    deliveries
    and collectibles. The highest level gatherer gear will be what you want to go for at any time. Ocean fishing itself
    doesn't require any special stats, so you can just keep your low level gear until you reach max level so that you
    aren't
    wasting gatherer scrips, but this whole process should be quick either way. For max level fish at max level fishing
    holes, you may need food and melded crafted gear, but we are going to gloss over that and let the reader figure out
    that
    max level stuff once they have experience with the basics.

    Lastly we are going to need tomes. This is actually not relevant until Heavensward, but several fish and some
    fishing
    holes in the game cannot be caught without reading a book. Each book is a one time use that requires Regional
    Folklore
    Trader's Tokens. These cost Blue Gathers Tokens for Heavensward and Regional Folklore Trader's Tokens A, B and C for
    Stormblood, Shadowbringers, and Endwalker. For everything before Endwalker, you can buy the tokens at any scrip
    exchange, and you can exchange them for the books from any of Rowena's Represenatives in the major cities. Its going
    to
    be a good idea to do this while levelling and getting started so that later on you aren't walled by this.

    One more thing not as important but you will probably want to get familiar with the menus you will be accessing a
    lot.
    The actual Fishing Log (by default on PC opened with y) contains tons of information about fishing holes, gives nice
    maps of every location, and will show you how many fish you haven't caught at a certain location.

    Great, with all that, lets get to our first actual look at our abilities. After going through the main fisher
    quests,
    you will probably be familiar with most of these but might not have clicked a few of the more useful skills,
    especially
    at the top. From just completing the quest I will assume that you already know how to bait, cast, and mooch. I will
    also
    just include here that you need to mooch with High Quality Fish or spend resources like Gather Points to mooch as
    resource management is going to be key later on. While doing normal fishing, the exlamation points on your head will
    indicate the type (or size but its not always 1-1 correlated) of fish you are catching. 1 marker will be a fish with
    a
    weak bite, 2 will be a fish with a strong bite, and 3 will be fish with a special or extra large bite.

    So where and what are we fishing? Well the answer to that is everything everwhere. The very first thing I recommend
    doing is just getting all of the fishing holes you are going to be grinding on your map. For this I recommend going
    to
    https://en.ff14angler.com this website and going the link that says Map. It will contain a visual map on where each
    fishing hole in each area will be. Typically when searching for specific fish, you will have to use specific bait,
    however all holes will have at least one fish that can be caught with the Versatile Lure. I would recommend catching
    a
    few fish in each hole mooching whenever possible. This will give you a better high level view of what you are taking
    on,
    and allow your map to be more useful later on when you are speedily trying to find a fishing hole during a fishing
    window. Catching a few fish at each hole will also give you a huge head start. The Versatile Lure will not
    necessarily
    get you the most rare fish, but before you ever fish at a hole, it has a high likelyhood of giving you some new fish
    at
    each stop.

    Next its time to get organized. Its a good idea to keep a running list of what fish you need to catch, as well as
    the
    quick notes about when they can be caught. Fish in this game can be caught using specific bait, but for some fish
    you
    will also have to wait for specific times in game and sometimes even specific weather conditions. This was mentioned
    during the fisher questline, but it bears repeating as many of the hardest fish to catch will require some
    combination
    of time, weather conditions, bait, and mooching to actually catch.

    While you could make your own spreadsheet and copy information out of FF14angler, I really recommend using a tool
    for
    this. Teamcraft has a great tracker to allow you to keep track of what fish you have caught after you've connected
    your
    character to it. This works, though I personally prefer using the Garland Tools page here.
    https://garlandtools.org/ffxivfisher/

    This page allows you to color code fish and hide items based on color codes. It is a bit clunky and slow, but it
    does
    give live real time feedback about what fish can be caught and when. It also includes a nice little tooltip to the
    side
    of each fish showing quickly the route of catching that will yield the highest likelyhood of getting the catch you
    want.
    You can use any system you would like to organize, but I personally like my current system. I start by choosing a
    color
    that will always be hidden. For me I choose the bottom right color Red. Any fish I have caught and is in my fishing
    log
    I mark as red and hide immediately. from there, I pick a color for the expansion I am working on and the color for
    the
    next expansion. I choose Green for current and Orange for next. when getting started this means that all catches you
    don't have in A Realm Reborn should be Green and all catches in Heavensward should be orange. Everything unmarked as
    grey is for the future. You don't have to use my system here, and you may choose to separate colors by difficulty or
    by
    priority or by which fish are the most valuable on the marketboard. As long as you can hide the fish you are
    uninterested in catching at the moment easily, you have a good system. My system works for me as I am trying to
    clear
    the log expansaion by expansion, though if you want to go in a different order or take a different approach, that is
    also totally fine.

    Really once you have gotten this far in game, you will be able to catch the vast majority of fish that have no or
    little
    requirements. From here I am going to go over a few tips I've picked up while working on finishing the fishing log.

    Tips on mooching
    Many fish in the game require mooching in order to catch. Mooching is an action that can be performed after catching
    certain fish if they are Large enough, or if you use some other ability. At level 15, you get the ability Patience
    which
    is the most basic tool for making mooching easier. When using patience, you will receive the buff "Angler's Fortune"
    which increases the chance of collecting a Large fish, and the debuff "Innefficent Hooking" which will decrease your
    odds of catching a fish when using hooking. The odds are low enough that you generally would be better off just not
    using this ability if you are just trying to catch a fish and you are unconcerned with how large it is. That said,
    we
    also get powerful hookset and precision hookset as abilities to counter this debuff. For fish that have a 1
    indicator
    notice, you will need to use precision hookset. For fish that have 2 or 3 indicators, you will need to use Powerful
    hookset. That is the gist of getting large fish with that ability. At level 60 you will get Patience II (which
    really
    just replaced Patience on my hot bar). This is the same except it lasts longer and gives you an additional buff
    "Catch
    and Release" which also gives you a higher chance to catch larger fish. Past using patience, you can also guarantee
    a
    large catch using the ability "Prize Catch" which will guarantee the next fish will be large, but only for the next
    catch. That means that you won't have the chance to use this on more than one catch like with patience, so if you
    require a mooch train, be careful about relying on this.

    On top of getting a large fish, you can use the ability Mooch II at level 63. This ability allows you to mooch with
    a
    moochable fish even if it isn't large. This can only be used once every 2 minutes though so it isn't something to
    rely
    on in mooch trains. Even better than this at level 48, you get access to the ability "Makeshift Bait" which will
    allow
    you to mooch with any fish. this requires 5 angler arts to cast which if you recall from the fisher questline you
    build
    angler arts up to 10 at a time by catching large fish. Usually when fishing for catches that require mooch trains,
    there
    will be an exchange of using patience II to catch large fish and collect anglers arts points. Once your patience
    runs
    out, you then use Makeshift Bait while waiting for your GP to recover so you can continue the cycle all over again.

    On "Windows"
    As stated above and in the fisher questline, some fish require specific time and weather windows or both to actually
    catch. Take for example the Mushroom Crab https://en.ff14angler.com/fish/173 which can only be caught while it is
    Fog or
    Clouds weather status in East Shroud. The catches sensitive to weather will generally come out while the weather is
    a
    particular way at the moment, but it isn't always just about what weather it is currently. Some catches such as the
    Ignis Horn https://en.ff14angler.com/?spot=0&fish=294&bait=0&cmd=search will require that the weather change away
    from
    another weather type. Ignis Horn here can only be caught for example after the weather "Gloom" has shifted away to
    either Fair Skies or Clear Skies. While you can just use the tools to understand when you can catch a fish, it might
    be
    a good idea to have an idea of why certain fish are only catchable at certain times. When you notice patterns in the
    weather you may even start to get an instinct for when to look for rare catches. See an interesting weather event
    like
    "Sandstorm" or "Gales"? Well there is probably an interesting fish you are able to catch at the moment!

    Of course, catching fish isn't just about the weather. Some fish can also only be caught at specific times in game.
    In
    game, there is a clock that keeps track of "Eozean Time" which is a standard cycle that lasts 3 minutes per hour, 24
    hours per day. This means that 72 minutes in real time will equate to one day in Eozea. Looking at a fish like the
    Seahag https://en.ff14angler.com/fish/293 you can see that this fish is only available to catch between 7pm Eorzean
    time
    (ET) and 2am ET. Now, you may also notice on the Garland Tools page, that Seahag is available to catch outside of
    this
    time window. Why is that? Well the answer is our ability we get at level 57, Fish Eyes. Fish Eyes gives the ability
    to
    gather fish outside of their normal time windows for the next 60 seconds. This usually gives you time for 3 to 4
    catches
    depending on the size of fish you are catching. This means that fish that have a time and weather window can be
    caught
    more often because you can negate the time window by using this ability. Beware though, this ability costs 550 GP
    which
    is a huge blow to your resources. This means its not practical to use this This ability doesn't work on all catches
    such
    as the Castaway Chocobo https://en.ff14angler.com/fish/636, so be careful for that as well.

    When you add all of this information together, Windows are just the gap of time where a specific fish is catchable.
    The
    vast majority of fish will have no window requirement, but the ones we are after to clear our log will generally
    have
    one or both of these requirements. Keeping an eye on fish windows, and going after then while you have the chance
    will
    benefit you greatly. Often as well, working early on the fish with smaller windows will allow you to catch the more
    common fish while you are making attempts at the rarer fish. If you work on getting the more common fish first which
    is
    tempting because of the sense of progress you get, you will ultimately wind up backtracking and catching more of
    those
    common fish while working on rarer catches.

    At this point it is worth mentioning the exact moments windows matter. The type of fish you can catch it determined
    at
    the time you cast your rod with its initial bait. This means that while Fish Eyes only has a 60 second buff, if it
    falls
    off while your rod is in the water, you will still have the ability to catch a rare fish outside of its normal time
    window. This also means that if you catch a fish that you can mooch for a rare fish, you only need to have casted
    your
    intial cast before fish eyes fell off. Your mooch will still have the chance to catch the rare fish. Similarly,
    casting
    Fish Eyes and several other abilities will cancel your current mooching opportunity so make sure you are using fish
    eyes
    before making your initial cast, and don't try to reuse fish eyes until your current mooch train is over. This
    timing
    also applies to the actual time in game. If you make your inital cast a 7:59am and the time window or weather ends
    at
    8am, you will still be able to catch the rare fish as if it were still the weather or time it was when you cast your
    rod.

    Some time windows can be incredibly tight, so it is also worthwhile to try and save as much time as possible.
    Similar to
    other jobs, ping makes a difference here. If you are trying to cast before Fish Eyes falls off, you want to make
    sure
    you are spamming the Cast button while waiting for animations to finish. By doing this, you can get the server to
    cast a
    few milliseconds before the buffs fall off which will make all the difference in the number of attempts you get.
    Some
    fish can have very low odds of being caught even when using the right bait at the right time in the right weather.
    Ignis
    Horn linked above has a mere 1.9% chance, meaning even after 50 casts you are still not likely to have caught one.
    This
    means that maximizing the number of casting attempts matters a lot.

    Another great way to save time while catching fish, is to not catch fish. This concept is a little antithetical to
    the
    goal of getting the desynth achievements above, however when windows are tight, it is a good thing to consider.
    Often
    when hunting for the most rare fish, you will be given a 3 exclamation point alert when you have caught it. This
    functionally means that if you get a 2 or 1 alert, you know that you can safely not catch the fish. The animation
    for
    catching a fish at any level is much slower than letting the fish get away. Remember, if the goal is to complete the
    fishing log and catch each rare fish, the number of attempts you get is far more important than the actual number of
    fish you ultimately catch. Using this strategy will prevent you from making progress on "Good things come to those
    who
    Bait" which requires catching fish at different fishing hole levels, but can be worth it for maximizing your odds of
    finishing the log more quickly. Personally, I like to catch fish if there is any chance its one I haven't seen. Even
    without trying to progress on these achievements I wind up finishing most of them just in the normal course of
    collecting the rare fish. between mooching attempts and collecting all regular non rare fish, you will have plenty
    of
    catches under your belt without worrying.

    Lastly, you can save time with the level 5 ability Chum. Chum simply decreases the time it takes to get the next
    fish to
    bite. If you are natually in a fishing window both time and weather, you will want to actively use chum to get as
    many
    casts in. Chum is by far the most GP efficent way of catching fish, so if you see two fish with the same weather
    condition and need to catch both, maybe decide on trying to catch the one you don't need to cast fish eyes for. I
    personally have a macro for using chum, waiting a second, and using cast. Technically its a few milliseconds slower
    than
    manually casting these two, but when grinding out fish while watching youtube videos, its a pretty convenient one
    click
    solution.

    A final couple of skils to maximize your windows is Thaliak's Favor and Sit. Thaliak's Favor is a skill that costs 3
    anglers arts and in return you get 150 gp back. Often while fishing even when you are not going for mooch attempts,
    you
    will get large fish that build up your arts. If you get lucky and obtain 3 in a session, you get yourself 150 free
    gp.
    Make sure to utilize this to maximize the number of times you can cast skills like Fish Eyes during weather windows
    outside the wrong time window.

    Lastly lets talk about the Sit emote. While fishing, you can actually sit down by using sit, or typing "/sit" into
    your
    chat box. While it mostly is a cosmetic choice, sitting can give you faster feedback on whether or not you catch a 3
    exclamation fish. With 1 and 2 mark fish, you will catch the fish while sitting still. With a 3 mark fish, you are
    actually not guaranteed to catch that fish even with max stats. Because of this, it can be important to know right
    away
    if you've caught it or if you should be spamming your cast button to get one more cast in before Fish Eyes runs out.
    The
    tell is that if your character continues sitting after hooking a 3 mark fish, you have not actually caught it. A
    sitting
    fisher will always stand up to catch a 3 mark fish, regardless of whether or not it is a rare catch or not.

    Ok so before we jump to this next section, I just want to say that yes, there are plenty more abilities on the hot
    bar.
    I am skipping over them because they are not important to just clearing the fishing log or they are related to
    spearfishing which is not a focus in this guide. That said, I am at this point done mentioning new abilities.

    Resource Management
    Ok so while fishing for rare fish, you will have to manage your GP well. Often as a fisher, you will only have the
    ability to use one major buff at a time. This means that if you need to use Fish Eyes, you won't be able to also use
    Patience II to guarantee large fish for mooching. You can get around this by using items. Cordials in particular are
    going to be your friend and you will wind up using hundreds during this journey. They can be acquired through beast
    quests, through grand company seals, and through crafting. I recommend buying them from the marketboard and
    generally
    having them on hand, however you can also build them up pretty easily by doing Namazu, Qitari, and Omicron Beast
    Tribe
    Quests. These quests are great for levelling your fisher as well so try to get these while going through the
    levelling
    process as well.

    Anglers Arts are another resource to keep close track of. When catching large fish, you will build these up. They
    cap at
    10 so make sure to spend them as needed. You can trade 3 of them for 150GP which is generally where I dump them,
    however
    as mentioned before you can trade 5 of them to be able to mooch an average sized fish. At level 90 with max level
    gear
    some useful sequences are

    Fish Eyes + Mooch II for a fish that needs a single Mooch outside of its time window is a good hail mary attempt.
    Usually I use this at the end of weather windows for one last attempt at a catch.

    Fish Eyes + Cordial + Patience II for the same as above but longer. Generally if you need a mooch train of more than
    one, you will want to do this. The issue with relying on this, is that you only really get 3 casts generally in your
    fish eyes window, so you are trading essentially all of your gp and a cordial for 1 attempt.

    Patience II plus not catching a fish. Precision hookset and Strong hookset cost 50 GP to cast. You can just use
    normal
    hook however for free for a 50% chance of catching the fish still with the higher chance of it being large. Since 3
    anglers arts can be traded in for 150gp, this means that if you are doing this trade, the gp cost is neutral. If the
    fish you are going for however is not the one you are targetting you can also just get your value by not catching it
    at
    all. If you use normal hook however, you either get a faster animation as you fail to catch, or you get 50gp for
    free!
    Sometimes you may want the anglers arts more than the gp. An example of this might be when you are hunting for the
    Endoceras (which you will need to complete the quest Feast of Famine for Wawalago) you might encounter a time where
    you
    get clear skies to gales, but the window will be outside of normal time. This means that you will have to use both
    fish
    eyes and patience if you want to guarantee the mooch. A common and useful strategy is to go before the weather
    changes,
    and build up anglers arts. This way, when you actually get to the weather, you will have 4 minutes of free mooching
    without needing large fish, and you can spend all of your gp on fish eyes. For fish like Endoceras that have all
    time
    weather and mooch requirements, it is a good idea to fish before the window as well to set up the most possible
    casts
    during the window.

    Speaking of anglers arts, on top of only having a maximum of 10 stacks, you also lose the stacks when moving between
    areas. If you find that you have an extra 3 to 5 at the end of catching a fish, make sure to check if there are any
    other fish around you might want to spend arts on in the same area. No issue if there aren't, you can definitely
    build
    arts easily so there is no need to be as efficient as possible, but it is nice sometimes to eek out extra casts at
    another pond after a little bit of good luck.

    A few notes to stay sane
    This grind is going to take a long time. Whether you want to embark on this to complete the fishing log, or you just
    want to experience something in the game you decided to save for later, fishing is a fun and rewarding piece of
    content
    in the game and you should engage in it knowing that you might not really reach the end. Enjoying the journey and
    trying
    to appreciate the environments you visit will go a long way to making the experience worthwhile.

    On another note, this journey is also going to be a lot of rolling dice over and over. For me, a fish that had
    particularly bad odds for me was The Greatest Bream in the World. https://en.ff14angler.com/fish/245 This fish has a
    very small window from 8pm ET to 11pm ET and weather requirments. If using a shrimp cage feeder during the proper
    window
    you will have a 2.6% chance of catching this fish on every attempt. Based on quick math you might intuitive feel
    like
    you should catch it around 50 attempts in. With no abilities and 9 minutes (around 25 casts) you would think two
    visits
    alone would be enough. This fish took me 417 casts to finally catch. The satisfaction of hitting after a huge string
    of
    losses can feel great, but if you dont have a way of staying positive despite massively bad luck, you won't be able
    to
    finish. The simple fact is that you might have a negativity bias. If I really look at all my catches and do the
    math, I
    will generally sometimes be on the better side of variance. On the other side of variance, I managed to get The
    Thousand-year Itch in a single cast attempt using Fish Eyes. It has a 2.3% chance to be caught each attempt, so
    around
    the same odds, but still incredibly it was mine in one go.

    Lastly, definitely try to do something else while fishing. It probably isn't healthy to stare at a screen with
    nothing
    happening for many minutes or hours even. Read a book, or put on some anime. As long as you can do your side
    activity
    while pressing a button ever 7 to 13 seconds, its a great side hobby. I love fishing in this game but I would be
    lying
    if I said I was 100% focused all the time. Just try to not be too engaged with your side hobby that you miss a hook
    that
    you maybe shouldn't have.

    Anyway if any of this has helped or convinced you to try fishing thats great! If you've read this and decided this
    is
    definitely not for you, I hope at least you have some appreciation for one of my favorite things to do in Final
    Fantasy
    XIV.
</p>
{% endblock article_content %}