{% extends "blog.html.j2" %}

{% block header_img
%}https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Frog_on_palm_frond.jpg/1200px-Frog_on_palm_frond.jpg{%
endblock header_img %}

{% block article_name %}
I Love Frogs
{% endblock article_name %}

{% block article_content %}
<p> Have you seen these funky little guys? </p>

<p>They come in <i>all</i> shapes and <big>sizes</big></p>
{% endblock article_content %}