<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wilhem Alcivar</title>
    {% block head %}
    {% endblock %}
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <nav class="container">
        <div class="card">
            <p>Very cool!</p>
        </div>
        <div class="card">
            <p>Who is she?!</p>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>