{% extends "base.html.j2" %}

{% block head %}
<link href="static/blog.css" rel="stylesheet">
{% endblock head %}


{% block content %}
<article>
    <div class="article-head" style="background-image: url('{% block header_img %}{% endblock header_img %}');">
        <div>
            <h1>{% block article_name %}{% endblock article_name %}</h1>
        </div>
    </div>
    <div class="article-content">
        {% block article_content %}
        <a href="blog/frogs">I Love Frogs</a>
        <a href="blog/fishing">Fishing is Great</a>
        {% endblock article_content %}

    </div>
</article>
{% endblock %}